<app-header xmlns:https="http://www.w3.org/1999/xhtml"></app-header>
<div class="body">
<div class="card-group">
  <div class="col-sm-3 ml-5 mt-5">
    <div class="card">
      <div class="card-header text-uppercase" style="background-color: palegoldenrod; ">Aneesh Anne</div>
      <div class="card-body">
        <h6>Email Id:-</h6><p>aneeshanne@gmail.com</p>
        <br>
        <h6>Courses Enrolled:-</h6><p>5</p>
        <br>
        <h6>Date Of Birth:-</h6><p>03-27-1997</p>
        <br>
        <h6>Major:-</h6><p>Computer Science</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ml-5 mt-5">
    <div class="card">
      <div class="card-header text-uppercase" style="background-color: palegoldenrod; ">Alekhya Thangalapally</div>
      <div class="card-body">
        <h6>Email Id:-</h6><p>alekhyathangalapally@gmail.com</p>
        <br>
        <h6>Courses Enrolled:-</h6><p>5</p>
        <br>
        <h6>Date Of Birth:-</h6><p>08-22-1998</p>
        <br>
        <h6>Major:-</h6><p>Copmuter Science</p>
      </div>
    </div>
  </div> <div class="col-sm-3 ml-5 mt-5">
  <div class="card">
    <div class="card-header text-uppercase" style="background-color: palegoldenrod;">Poojitha Koppanathi</div>
    <div class="card-body">
      <h6>Email Id:-</h6><p>poojitha@gmail.com</p>
      <br>
      <h6>Courses Enrolled:-</h6><p>5</p>
      <br>
      <h6>Date Of Birth:-</h6><p>05-08-1996</p>
      <br>
      <h6>Major:-</h6><p>Computer Science</p>
    </div>
  </div>
</div>
  </div>
  <br>
  <br>
</div>
<app-footer></app-footer>
