<app-header></app-header>
<div class="card-group">
  <div class="col-sm-3 ml-5 mt-5">
    <div class="card">
      <div class="card-header text-uppercase">Web Development</div>
      <div class="card-body">
        <p> This course given you an idea of how to develop websites and android mobile applications</p>
      </div>
      <div class="card-footer text-muted float-right">
        <a href="#" class="float-right" >details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ml-5 mt-5">
    <div class="card">
      <div class="card-header text-uppercase">Web Development</div>
      <div class="card-body">
        <p> This course given you an idea of how to develop websites and android mobile applications</p>
      </div>
      <div class="card-footer text-muted float-right">
        <a href="#" class="float-right" >details</a>
      </div>
    </div>
  </div> <div class="col-sm-3 ml-5 mt-5">
  <div class="card">
    <div class="card-header text-uppercase">Web Development</div>
    <div class="card-body">
      <p> This course given you an idea of how to develop websites and android mobile applications</p>
    </div>
    <div class="card-footer text-muted float-right">
      <a href="#" class="float-right" >details</a>
    </div>
  </div>
</div> <div class="col-sm-3 ml-5 mt-5">
  <div class="card">
    <div class="card-header text-uppercase">Web Development</div>
    <div class="card-body">
      <p> This course given you an idea of how to develop websites and android mobile applications</p>
    </div>
    <div class="card-footer text-muted float-right">
      <a href="#" class="float-right" >details</a>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
