<app-header></app-header>

<div class="body">
  <br>
  <div class="row ">
  <div class="col-sm-3 ml-5">
    <div class="card">
      <div class="card-body">
        <img src="https://i.pinimg.com/originals/52/7e/6f/527e6fc101f13a64d5eac319a463d366.jpg" style="width: 275px;height: 275px" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-5 mr-5">
    <div class="card">
      <div class="card-body ml-3">
        <h2>ALEKHYA </h2>
        <p><b>COMPUTER SCIENCE STUDENT</b></p>
      </div>
      <ul class="container details ml-5" >
        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;">Courses Enrolled: 5</span></p></li>
        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;">Date Of Birth: 29th Feb 1999</span></p></li>
        <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>Email: alekhyathangallapelly@gmail.com</p></li>
        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;">Age: 21</span></p></li>
        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;">Majour: Computer Science</span></p></li>
        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;">Address: 6545 Armour street Kansas City</span></p></li>
        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;">Contact: 98789876789</span></p></li>

      </ul>
   </div>
  </div>
</div>
  <br>
</div>
<app-footer></app-footer>
